<h1>Create a New Article</h1>

<%= form_tag("/articles", method: :post) do %>
  <%= label_tag :title %>
  <%= text_field_tag :title %>
  <%= label_tag :body %>
  <%= text_field_tag :body %>

  <%= submit_tag 'Create Article' %>
<% end %>
